@model Rentals.Web.Models.BaseViewModel
@using Rentals.Web.Localization

<h2 class="row">
	@Model.Rental.Name
</h2>

<address></address>
@Html.ActionLink(GlobalResources.Edit, "Edit", "Rental", null, new { @class = "btn btn-warning"})