@model Rentals.Web.Models.BaseViewModel
@using Rentals.Web.Localization

@{
	ViewBag.Title = Admin.Rental;
}

<h2>
	@Model.Rental.Name
	@Html.ActionLink(GlobalResources.Edit, "Edit", "Rental", null, new { @class = "btn btn-warning pull-right" })
</h2>

<div class="row">
	@await Html.PartialAsync("_RentalAddress", Model, new ViewDataDictionary(ViewData) { { "text", Admin.Rental_Address } })
</div>