@using Rentals.Web.Localization
@using Rentals.Web.Areas.Admin.ViewComponents

@{ 
	ViewBag.Title = Admin.RentingOverview;
}

<h2 class="row">
	@Admin.RentingOverview_Today
</h2>

<div class="row" id="component-container">
	@await Component.InvokeAsync(nameof(RentingOverview))
</div>