.non-underlined:hover {
	text-decoration: none;
}

.margin-0 {
	margin: 0;
}

.padding-0{
	padding: 0;
}

.margin-top-1 {
	margin-top: 1em;
}

.vis-item{
	top:0!important;
}

dl.inline dd {
	display: inline;
	margin: 0;
}

	dl.inline dd:after {
		display: block;
		content: '';
	}

dl.inline dt {
	display: inline-block;
	min-width: 175px;
}

.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
}

	.row-eq-height > [class*='col-'] {
		display: flex;
		flex-direction: column;
	}

.vis-item.blue {
	background-color: blue;
	color: white;
}

.vis-item.red {
	background-color: red;
	color: white;
}

.vis-item.orange {
	background-color: orange;
	color: white;
}

.vis-item.green {
	background-color: green;
	color: white;
}

.timeline-a{
	color:white;
	text-decoration: none;
	display: block;
}

details summary::-webkit-details-marker {
	display: none;
}

