@using Rentals.Web.Localization

@{
	ViewBag.Title = "CancelRenting";
}

<h2>@(ViewBag.CancelationSuccessful ? Localization.Renting_CancelationSuccessful : Localization.Renting_CancelationLate)</h2>

